<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>대출 가능한지 확인하는거</h2>
    <hr>
    원래 하나씩 입력 받아야 하는데 그냥 덩어리로 입력 받겠음<br>
    이럴라고 했는데 망했음<br>

    <form action="/one" method="post">

        age<input type="number" name="age"><br>
        workclass<select name="workclass">
                    {% for w in domain[0] %}
                        <option value="{{w}}">{{w}}</option>
                    {% endfor %}
                    </select><br>

        education<select name="education">
                    {% for w in domain[1] %}
                        <option value="{{w}}">{{w}}</option>
                    {% endfor %}
                    </select><br>

        occupation<select name="occupation">
                    {% for w in domain[2] %}
                        <option value="{{w}}">{{w}}</option>
                    {% endfor %}
                    </select><br>

        race<select name="race">
                    {% for w in domain[3] %}
                        <option value="{{w}}">{{w}}</option>
                    {% endfor %}
                    </select><br>

        sex<select name="sex">
                    {% for w in domain[4] %}
                        <option value="{{w}}">{{w}}</option>
                    {% endfor %}
                    </select><br>

        hours_per_week<input type="text" name="hours_per_week"><br>




        <input type="submit" value="검색"><br>

        {% if msg != '' %}
            {{msg}}
        {% endif %}
    </form>


</body>
</html>